body {
  	text-align: center;
 	background:  url("img/bg-05.jpg") no-repeat;
  	/* background: #000; */
	background-size: cover;
  	background-repeat: repeat-y;
}

div.profilephoto {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
 	margin-left: auto ;
 	margin-right: auto ;
	
}

div.center {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 380px ;
	margin-left: auto ;
	margin-right: auto ;
	background: #696969;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 2px dashed;
    -webkit-border-radius: 8px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
 }
 
div.social {
	width: 290px; 
 	margin-left: auto ;
 	margin-right: auto ;
	padding-top: 30px;
}
 
 
p {
	
    font-family: helvetica;
	font: normal 18px Helvetica, sans-serif;
	color:#FFF;
	text-shadow: 1px 1px 1px #000;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.csmb, .csmb-flat {
	float: left;
}

.container.buttons .csmb {
	margin-right: 8px;
}

.container {
	width: 960px;
	margin: 0 auto 10px;
	clear: both;
}
 
.types-container {
	width: 50%;
	float: left;
}

.types-container.default .type, .types-container.default .buttons {
	float: right;
}

.types-container.default .type {
	margin-right: 10px;
}

.types-container.flat .type, .types-container.flat .buttons {
	float: left;
}

.types-container.flat .type {
	margin-left: 10px;
}

.types-container .button-container {
	overflow: hidden;
    padding: 4px;
}

.types-container .type {
    line-height: 36px;
}

.types-container .buttons {
    width: 36px;
    height: 36px;
}

.buttons-header {
	background-color: #f5f5f5;
  	font-weight: bold;
  	font-size: 18px;
  	line-height: 36px;
  	padding: 0 20px;
  	margin: 0 -20px 20px;
}

.buttons-container {
	float: left;
  	width: 20%;
  	margin-bottom: 10px;
}

.buttons-container .type, .buttons-container .buttons {
    float: left;
}

.buttons-container .type {
    line-height: 36px;
    margin-left: 10px;
}

.buttons-container .buttons {
    height: 36px;
}